@charset "utf-8";
@import "compass";



/* common
------------------------------------------*/
/* 背景設定 */

body {
  background: #f9f8f6;
}

.container{
  margin-bottom: 20px; 
}

main {
  padding: 20px 0;
}

a {
  color: #524b3b;
  text-decoration: none;
  &:hover {
    color: #776d56;
  }
}

/* 初期化し損ねている余計な余白を解除 */

form, h1, h2, h3, h4, dl, dt, dd, ul, li {
  margin: 0;
  padding: 0;
}

/* Clearfix */
.clearfix{ zoom:1; }
.clearfix:after {
	content:"";
	display: block;
	clear: both;
}

/* Font設定 */
$ja_font : "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Verdana, "ＭＳ Ｐゴシック", sans-serif;

/* カラー設定 */
$beige1 : #f9f8f6;
$blown : #887f69;
$beige2 : #e2ddd4;
$gray : #b0b0b0;
$red : #9d1a2d;

/* main field
------------------------------------------*/
/* breadcrumb 設定 */
#breadcrumb{
  ul{
    background: $beige2;
    padding: 10px;
    line-height: 0;
    @include border-radius(4px);
  }
  
  li{
    display: inline-block;
    list-style: none;
    line-height: 0;
    font-size: 1.1rem;
    color: $blown;
    margin-right: 5px;
    img{
      padding-right: 5px;
    }
  }
}


/* carousel 設定 */

#carousel-slider {
  list-style: none;
}

.owl-dots{
  line-height: 0;
}

/* item list 設定 */

#new_items_list li{
  float: left;
}
#popular_items_list li{
  float: left;
}
#recent_list li{
  float: left;
}
#all_items_list li{
  float: left;  
}

.item_list {
  p {
    margin-bottom: 0;
    text-align: center;
    line-height: 0;
  }
  li {
    list-style: none;
    a{
      display: block;
      padding: 10px;
      border: 1px solid #f9f8f6;
      background: #fff;
      &:hover {
        opacity: 0.75;
      }
    }
    img {
      display: block;
      width: 100%;
    }
  }
}

.item_text {
  font-size: 1.2rem;
  text-align: justify;
  margin-bottom: 5px;
  margin-top: 10px
}

.item_price {
  font-size: 1.2rem;
  span {
    margin-right: 5px;
    margin-bottom: 15px;
  }
}

/* back next button 設定 */
#trandition_btn{
  ul{
    padding-top: 20px;
    li{
      list-style: none;
      a{
        display: block;
        padding: 14px 40px;
        background: $blown;
        font-size: 1.4rem;
        font-weight: bold;
        letter-spacing: 0.2rem;
        line-height: 1.4rem;
        color: #fff;
        &:hover{
          opacity: 0.75;
        }
      }
    }
  }
}

#btn_back{
  float: left;
}

#btn_next{
  float: right;
}


/* product box 設定 */

#product_box{
  background: #fff;
  margin-bottom: 0;
}

#product_name{
  padding: 0 0 30px;
  margin-bottom: 6px;
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: 0.3rem;
}

#product_id{
  font-weight: normal;
  font-size: 1.1rem;
  letter-spacing: 0.2rem;
  color: #b0b0b0;
  margin-bottom: 10px;
}

/* garally */

#product_img {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e2ddd4;
  img {
    display: block;
    width: 100%;
  }
}

#list_img li img {
  border: 1px solid #fff;
  border-top: none;
}

#list_img li{
  list-style: none;
}

/* shopping form */
#cart_box{
  border-bottom: 1px solid #e2ddd4;
  h3{
    font-size: 1.5rem;
    font-weight: bold;
    color: #8a8168;
  }
  table{
    border: 1px solid #e2ddd4;
  }
}

#cart_box tr{
  border: 1px solid #e2ddd4;
}

#cart_box{
  th, td{
    border: 1px solid #e2ddd4;
  }
  table{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
  }
  th, td{
    padding: 10px 0;
    text-align: center;
  }
  th{
    font-size: 1.3rem;
    color: #998669;
    font-weight: normal;
    letter-spacing: 0.1rem;
    background: #f9f9f5;
  }
  td input{
    display: block;
    margin: auto;
  }
}

.form_wrap{
  h3, div{
    display: inline-block;
    padding: 10px 0 0;
    margin-bottom: 10px;
  }
  h3{
    width: 35%;
  }
  div{
    width: 62%;
    white-space: nowrap;
  }
}

#price_data{
  border-top: 1px solid #e2ddd4;
  border-bottom: 1px solid #e2ddd4;
}

#price_wrap{
  font-style: italic;
}

#price_data{
  strong{
    color: $red;
    font-size: 2.2rem;
    font-weight: normal;
  }
  span{
    padding: 0 5px;
    font-size: 1.4rem;
    letter-spacing: 0.1rem;
  }
}

#quantity_data{
  margin-bottom: -15px;
  input{
    width: 100%;
  }
}

#btn_cart input {
  width: 225px;
  height: 55px;
  &:hover {
    opacity: 0.75;
  }
}

/* product detail */
#product_detail{
  h2{
    font-size: 1.6rem;
    color: $blown;
    letter-spacing: 0.1rem;
    font-weight: bold;
    padding: 20px 0;
    margin-top: 20px;
  }
  h3{
    font-size: 1.6rem;
    color: $blown;
    letter-spacing: 0.1rem;
    font-weight: bold;
    padding: 10px  0  30px 0;
  }
  p{
    font-size: 1.4rem;
    letter-spacing: 0.1rem;
    text-align: justify;
    margin-bottom: 0;
  }
  tr,td{
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    color: $blown;
    line-height: 1.7rem;
    border: 1px solid #e2ddd4;
  }
  table{
    margin-top: 10px;
    margin-bottom: 0;
    width: 100%;
  }
  th, td{
    padding: 10px 10px;
  }
  td{
    text-align: left;
    width: 75%;
  }
  th{
    text-align: center;
    width: 25%;
    font-size: 1.3rem;
    color: #998669;
    font-weight: normal;
    letter-spacing: 0.1rem;
    background: #f9f9f5;
  }
}


/* shopping guide */

#whole_guide{
  display: -webkit-flex;
	display: flex;
	-webkit-flex-direction:row;
	flex-direction:row;
	flex-wrap: wrap;
}

.guide_box{
  display: -webkit-flex;
	display: flex;
	-webkit-flex-direction:row;
	flex-direction:row;
	flex-wrap: wrap;
	background:#fff;
	
  @include box-sizing(border-box);
  background: #fff;
}

#shopping_guide{
  h6{
    font-size: 1.6rem;
    font-weight: bold;
    color: $blown;
    margin: 10px;
  }
  dt,dd{
    text-align: left;
    font-size: 1.2rem;
    margin: 5px 10px;
    line-height: 2.4rem;
  }
  dt{
    font-weight: bold;
    color: $blown;
  }
}

.guide_wrap{
  width: 100%;
  border: solid 2px $beige1;
  padding-bottom: 10px;
  
  div.guide_pict{
    img{
      padding-left: 10px;       
    }
  }
}

#guide_right{
  img{
    width: 95%;
  }
}


/* sub field
------------------------------------------*/
/* sub field 設定 */

#sub_field article {
  background: #fff;
  margin-bottom: 10px;
}

/* 検索ボックス 設定 */

#search_box {
  padding: 10px;
}

input {
  &[type="search"] {
    border: none;
    background: #eee;
    font-size: 1.3rem;
    font-style: italic;
    letter-spacing: 0.1em;
    position: relative;
    z-index: 0;
    width: 80%;
    height: 30px;
    margin: auto;
    padding: 3px 15% 3px 3%;
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    border: none;
  }
  &[type="image"] {
    float: right;
    margin: -28px 10px 0 0;
    position: relative;
    z-index: 100;
    height: 18px;
  }
}

/* リンクボタン設定 */

.link_box h4, .sub_box h4 {
  display: block;
  background: #887f69;
  padding: 18px 15px;
  line-height: 0;
}

.link_box {
  h4 {
    cursor: pointer;
    background: #887f69 url(../images/top/next_icon.png) no-repeat 95% center;
    &:hover {
      background: #b7b1a1 url(../images/top/next_icon.png) no-repeat 95% center;
    }
    &.openlink {
      background: #887f69 url(../images/top/down_icon.png) no-repeat 95% center;
    }
  }
  li {
    list-style: none;
    border-bottom: solid 1px #f9f8f6;
    a {
      display: block;
      font-size: 1.3rem;
      padding: 10px 15px;
      background: url(../images/top/next_icon_gray.png) no-repeat 95% center;
      &:hover {
        background: #eee url(../images/top/next_icon_gray.png) no-repeat 95% center;
      }
    }
  }
  ul {
    display: none;
  }
}

/* お店情報 設定 */

.sub_pict {
  padding: 10px;
  img {
    display: block;
    width: 100%;
  }
}

.sub_text {
  font-size: 1.2rem;
  padding: 0 10px 10px 10px;
  text-align: justify;
  p {
    margin-bottom: 20px;
  }
}

.more_btn {
  margin: 10px 0;
  text-align: center;
  a {
    display: inline-block;
    cursor: pointer;
    &:hover{
      opacity: 0.75;
    }
  }
}


/* footer
------------------------------------------*/
/* footer 設定 */

#page_top {
  padding: 20px 0;
}

footer {
  ul {
    border-top: solid 1px #b0b0b0;
    padding: 30px 0;
    text-align: center;
  }
  li {
    display: inline-block;
    font-size: 1.2rem;
    color: #b0b0b0;
    margin: 0 5px;
    padding: 0;
  }
  small {
    text-align: center;
    font-size: 1rem;
    color: #e2ddd4;
  }
}