@charset "utf-8";

/* Font
------------------------------------------*/
html {
    font-size: 62.5%;
    background-color: #f9f8f6;
}

@mixin fontsize($size: 24,$base: 10) {
    font-size: $size + px;
    font-size: ($size / $base) * 1rem;
}

$ja_font : "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Verdana, "ＭＳ Ｐゴシック", sans-serif;
$beige1 : #f9f8f6;
$blown : #887f69;
$beige2 : #e2ddd4;
$gray : #b0b0b0;
$red : #9d1a2d;


/* Header
------------------------------------------*/
header{
  .container{
     padding: 0; 
     margin: 0;
  }
  @media (max-width: 550px) {
    .logo{
      text-align: center;
      
      .logo_pc{
        display: none;
      }
      
      h1{
        margin-bottom: 0;
      }
      a{
        text-decoration: none;
        line-height: 0;
      }
    }
    
    .sp_menu{
      text-align: center;
      img{
        display: inline-block;
        margin: 6px 6px;
      }
      
      .sp_navi_li{
        width: 100%;
        position: absolute;
        top: 85px;
        background: #ff6d77;
        padding: 10px 15px 20px 15px;
        
        z-index: 100;
        
        
        li{
          list-style: none;
          margin: 0;
          
          a{
            display: block;
            padding: 12px 5px 12px 0;
            @include fontsize(15);
            border-bottom: 1px solid $beige1;
            text-align: left;
            text-decoration: none;
            color: $beige1;
          }
        }
      }
    }
    
    .pc_navi{
      display: none;
    }
    
  }
  //max-width: 550px

  @media (min-width: 550px) {
    
    .container{
      .row{
        bottom: 0;
      }
    }
    
    .logo{
      float: left;
      padding-left: 10px;
      
      h1 .logo_sp{
        display: none;
        margin: 0;
      }
      
      h1{
        text-decoration: none;
        margin-bottom: 0;
        bottom: 0;
        line-height: 0;
        
        a{
          line-height: 0;
        }
      }

    }
    
    .sp_menu{
      display: none;
    }
    
    .pc_navi{
      bottom: 0;
      
      .pc_navi_li{
        margin: 0;
        padding: 0;
        float: right;
      
      a{
        padding-left: 20px;
        
        &:hover{
           opacity: 0.6;
        }
      }
      }
    }
  }
  //min-width: 550px
}
